<link rel="stylesheet" href="/stylesheets/post.css">


<div class="page-content">
<%if logged_in?%>
    <form action="/post" method="post" onsubmit="return isValidEntry();">
    <input type="hidden" name="user_id" value="<%=current_user['user_id']%>">

    <label for="">Location Name: </label>
    <input type="text" name="location_name">
    <label for="">Target Fish: </label>
    <input type="text" name="target_fish">
    <label for="">Best Bait: </label>
    <input type="text" name="best_bait">
    <label for="">Best Lures: </label>
    <input type="text" name="best_lures">
    <label for="">Best Time/Tides: </label>
    <input type="text" name="best_times">
    <label for="">About this Spot: </label>
    <input type="text" name="about">
    <input type="hidden" id="lng" name="lng">
    <input type="hidden" id="lat" name="lat">
    <button>Post</button>
    <p id="form-message"></p>
    </form>



    <div id="map"></div>

<script type="text/javascript" src="/javascripts/newPost.js"></script>
<script type="text/javascript" src="/javascripts/getNewLocation.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=maps_api_key%>&callback=initMap&libraries=&v=weekly"></script>
<%else%>

    <h1>You must be logged in to make a post</h1>

<%end%>

</div>

