<link rel="stylesheet" href="/stylesheets/login_page.css">

<div class="login-content">
    <form action="/sessions" method="post">
    <label for="">Email:</label>
    <input type="text" name="email">
    <label for="">Password:</label>
    <input type="password" name="password">
    <button>Login</button>
    </form>

    <%if params[:login_failed] == 'true'%>

        <p style="color: red">incorrect email or password</p>

    <%end%>
</div>