<link rel="stylesheet" href="/stylesheets/user-profile.css">

<h1> <%=get_username(user_id)%> </h1>

<div class="profile-posts-grid">
    <% user_posts.each do |post| %>
        <div class="profile-posts-grid-item">
        <h2><%=post['location_name']%></h2>
        <p><%=post['about']%></p>
        <a href="/post/<%=post['post_id']%>">view post</a>
        </div>
    <% end %>
</div>
