*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

nav{
    background: lightblue;
}

.profile-posts-grid{
    column-gap: 5vh;
    row-gap: 5vw;
    margin: 0 5vw;
}

.profile-posts-grid-item{
    display: block;
    text-align: center;
    border: black solid 1px;       
}

@media only screen and (min-width: 768px){

    nav{
        height: 60px;
        display: flex;
        align-items: center;
    }

    nav ul{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
    }

    nav ul li{
        list-style: none;
    }

    nav ul li a{
        color: black;
        font-size: 1.5rem;
        text-decoration: none;
    }

    nav ul li a:hover{
        color: white;
    }

    .profile-posts-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        min-width: 600px;
    }
}

@media only screen and (max-width: 768px){
    nav{
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8vh;
        width: 100vw;
    }

    nav ul{
        position: absolute;
        margin: 0;
        top: 8vh;
        right: 0;
        display: block;
        background: lightblue;
        transform: translate(100%, 0);
        transition: transform 500ms;
        width: 50vw;
        height: 92vh;
    }

    nav ul li{
        list-style: none;
        display: block;
    }

    .hamburger{
        visibility: visible;
        z-index: 1;
        position: relative;
    }

    .hamburger-1, .hamburger-2, .hamburger-3{
        width: 20px;
        height: 3px;
        margin: 5px;
        background: black;
        transition: transform 500ms;
    }

    form > *{
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .profile-posts-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

}

.show-menu{
    transform: translate(0, 0);
    transition: transform 500ms;
}

.toggle{

}

.toggle .hamburger-1{
    position: absolute;
    transform: rotate(45deg);
    top: 0;
    left: 0;
}

.toggle .hamburger-2{
    display: none;
}

.toggle .hamburger-3{
    transform: rotate(-45deg);
    top: 0;
    right: 0;
}